<ion-view title="Tela Inicial" id="menu.home">
  <ion-content padding="true" scroll="false" class="has-header">
      <ng-map default-style="false" class="mapa-google" center="current-location" zoom="18" on-click="getPosition($event)">
        <info-window position="current-location">
          <!--<span>Loation found using HTML5.</span>-->
        </info-window>
        <div ng-controller="markingCtrl">
          <div ng-repeat="marker in markings">
            <marker position="[{{marker.latitude}}, {{marker.longitude}}]" title="marker.name"></marker>
          </div>
        </div>
      </ng-map>
      <!--<div class="button-geolocation">-->
        <!--<button class="button icon ion-pinpoint" style="background-color: transparent;"></button><br>-->
      <!--</div>-->
    </ion-content>
</ion-view>
