<ion-view title="Nova PEV" id="new-pev">
  <ion-content padding="true" ng-controller="cameraCtrl" class="has-header" scroll="true">
    <div class="image-and-buttons">
      <div class="list card">
        <div class = "row">
          <div class = "col col-60">
            <div class="item item-image">
              <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">
              <!-- This image is blank, because this place will be filled with the photo from camera.
                   Maybe, must be a placeholder, just to not scare the user -->
            </div>
          </div>
          <div class = "col">
            <div class="buttons-from-img">
            <button class="button button-block icon ion-camera" ng-click="takePhoto()">Câmera</button><br>
            <button class="button button-block icon ion-images" ng-click="takePhoto()">Galeria</button>
              <!-- The camera doesn't work on browser, and a android build is necessary -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item item-body">
        <ion-list id="list">
          <label class="item item-input">
            <input type="text" placeholder="Nome da PEV">
          </label>
          <ion-item class="item-divider" id="page-list-item-divider3">Tipo da PEV</ion-item>
          <ion-checkbox class="checkbox-positive">Papel</ion-checkbox>
          <ion-checkbox class="checkbox-positive">Plástico</ion-checkbox>
          <ion-checkbox class="checkbox-positive">Metal</ion-checkbox>
          <ion-checkbox class="checkbox-positive">Vidro</ion-checkbox>
        </ion-list>

          <label class="item item-input">
            <input type="text" placeholder="Local da PEV">
          </label>
        <button id="page-button9" class="button button-positive  button-block">Cadastrar</button>
      </div>
    </div>
    <div class="form-list"></div>
    <div class="menu-bar"></div>
  </ion-content>
</ion-view>
