/* Custom some already exist elements and create other elements like popover and slider */
:root {
    --background-color: #ffffff;
    --secondary-button: #3c4f19;
    --primary-button: #5c8d23;
    --clickable-link: #4b6174;
    --clickable-link-hover: #8192a1;

    --black-one: #000000;
    --white-one: #ffffff;
    --green-one: #798c54;
    --green-two: #8fa662;
    --green-three: #daedb6;
    --green-four: #778274;
    --green-five: #b6c19f;
    --green-six: #3c4f19;
    --green-seven: #5c8d23;
    --blue-one: #4b6174;
    --blue-two: #8192a1;
    --blue-three: #a2adb9;
    --blue-four: #012148;
    --red-one: #973c13;
    --orange-one: #df7500;
    --yellow-one: #dcca53;
    --yellow-two: #fbe582;
    --brown-one: #663311;
    --brown-two: #8a5711;
    --brown-three: #bc9c63;
}


#logo {
    z-index: 2;
    top: 2%;
    left: 33%;
    position: absolute;
}

#titulo {
    z-index: 3;
    position: absolute;
    height: 240px;
    max-width: 305px;
}

.bar.bar-positive {
    background-color: var(--green-seven);
}

.platform-android .popover {
    margin-top: 20px;
    background-color: var(--white-one);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}

.popover.scroll-content {
    background-color: transparent;
}

.view-with-bg {
    background-image: url("../../img/gradient.png-i7.png") !important;
    background-size: cover !important;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.mapa-google {
    margin: -10px;
    width: 106%;
    height: 103%;
}

.scroll, .mapWrap {
    height: 100%;
}

.ion-tab-font {
    font-size: 65%
}

.popover-height{
    height: 120px;
}

.popover-height-perfil{
    height: 140px;
}

.popover{
  height: 120px;
}
.popover-height-pev{
    height: 82px;
}

.item-avatar-perso{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.button-centered{
    position: relative;
    left: 10%;
}

.ion-popover-view.fit {
    height: auto;
  }

  .ion-popover-view.fit .ion-content {
    position: relative;
  }

  .platform-android .ion-popover-view.fit {
    margin-top: 10px;
    background-color: var(--green-seven);
  }

  .platform-ios .ion-popover-view.fit {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--green-seven);
  }

  .platform-ios .popover .scroll-content {
      margin: 0px 0;
  }
  .popover.right .arrow:after {
  border-right-color: red;
}

.popover-height{
    height: 122px;
}

.popover-height-perfil{
    height: 178px;
}

.popover-height-pev{
    height: 82px;
}

.slider {
    height: 100%;
}

.slider-slide {
    padding: 20px;
    padding-top: 20px;
    color: #000;
    background-color: #fff;
    text-align: left;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.button.ng-hide{
    display:none;
}

#slideButtons{
    padding-top: 50px;
}

.round {
    border-radius: 50%;
}

.hidden-input {
    display: none;
}

.item-select {
    padding: 0px;
}

.item-select select{
    width: 400px;
    max-width: 100%;
    right: auto;
    direction: ltr;
}

#special-select {
    height: 45px;
    font-size: 16px;
}

.validation-msg {
    color: red;
    font-weight: bold;
}