/* Custom and create some buttons */
:root {
    --background-color: #ffffff;
    --secondary-button: #3c4f19;
    --primary-button: #5c8d23;
    --clickable-link: #4b6174;
    --clickable-link-hover: #8192a1;

    --black-one: #000000;
    --white-one: #ffffff;
    --green-one: #798c54;
    --green-two: #8fa662;
    --green-three: #daedb6;
    --green-four: #778274;
    --green-five: #b6c19f;
    --green-six: #3c4f19;
    --green-seven: #5c8d23;
    --blue-one: #4b6174;
    --blue-two: #8192a1;
    --blue-three: #a2adb9;
    --blue-four: #012148;
    --red-one: #973c13;
    --orange-one: #df7500;
    --yellow-one: #dcca53;
    --yellow-two: #fbe582;
    --brown-one: #663311;
    --brown-two: #8a5711;
    --brown-three: #bc9c63;
}

.item-input-wrapper {
    margin-top: 16px;
    margin-bottom: 22px;
    background: ghostwhite;
}

.searchclass {
    position: relative;
    background-color: transparent;
}

.list .list-inline{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.list .list-inline .item {
    flex: 1;
    left: 2%;
    font-size: inherit;
}

.home-grid .button-icon {
    float: left;

    margin-left: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 2px;

    background-color: transparent;
    /*line-height: 25px;*/
    height: 105px;
    width: 105px;

    border: 1px solid black;
}
img.displayed {
    position: absolute;
    max-width: 80%;
    top: 10%;
    left: 10%;
    border-radius: 3px;
}

img.displayed:empty {
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
    img.displayed { max-width: 60%; }
}

@media screen and (orientation: landscape) {
    img.displayed { max-height: 50%; }
}


.home-grid {
    position: absolute;
    bottom: 5%;
    align-content: center;
}

.larger {
    font-size: 30px;
}

.button.button-positive {
    color: var(--white-one);
    background-color: var(--green-seven);
}

.button.button-assertive {
    color: var(--white-one);
    background-color: var(--green-seven);
}

.button.button-positive.active, .button.button-positive.activated {
    border-color: transparent;
    background-color: var(--secondary-button);
}

.button.button-full.button-balanced{
    background-color: var(--primary-button);
    color: var(--white-one);
}

.popover-button {
    margin: 0px !important;
    text-align: left !important;
}

.button.ng-hide{
    display:none;
}

#slideButtons{
    padding-top: 50px;
}