<!-- Page with articles -->
<ion-view title="Artigos" id="my-articles">
    <ion-content padding="true" class="has-header padding has-tabs-top" scroll="true">
     <a class="button icon-top ion-chevron-left button-clear button-dark" ui-sref="tabs.to-contribuindo.articles"> Voltar </a>

        <div class="article_body">
            <h3><b>{{selected_article.titulo_artigo}}</b></h3>
            <body>{{selected_article.texto_artigo}}</body>
            <p><b>Por: {{selected_article.autor_original}}</b></p>
        </div>
    </ion-content>
</ion-view>
