<!-- Page with projects -->
<ion-view title="Projetos" id="my-projects">
    <ion-content padding="true" class="has-header padding has-tabs-top" scroll="true">
        <a class="button icon-top ion-chevron-left button-clear button-dark" ui-sref="tabs.to-contribuindo.projects"> Voltar </a>

        <div class="project_body">
            <h3><b>{{selected_project.titulo_contribuicao}}</b></h3>
            <h3 style="font-size: 14px; font-weight: bold;">{{selected_project.resumo_contribuicao}}</h3>
            <body>{{selected_project.texto_contribuicao}}</body>
            <!--<p><b>Por: {{selected_project.autor_original}}</b></p>-->
        </div>
    </ion-content>
</ion-view>
