<!-- Page of projects that user published -->
<ion-view title="Projetos" id="my-projects">
    <ion-content padding="true" class="has-header padding has-tabs-top" scroll="true">

        <h3>Projetos Recomendados</h3>
        <ion-list>
            <ion-item ng-repeat="project in projects"
                      value="{{project.id_projeto}}"
                      ng-model="project"
                      name="project_item"
                      ng-click="openProject(project)">
                <h3 class="text-left"><b>{{project.titulo_contribuicao}}</b></h3>
                <p class="text-left">{{project.resumo_contribuicao}}</p>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll
                ng-if="moreDataCanBeLoaded()"
                icon="ion-loading-c"
                on-infinite="loadMoreData()">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>