<ion-view title="Tela Inicial" hide-nav-bar="true">
  <ion-content padding="true" scroll="false" class="has-header">
    <div class="button-bar">
      <a class="button">Mapa do Observatório</a>
      <a class="button" ng-click="TodeOlho=true; PEVs=false">Tô de Olho</a>
      <a ng-show="TodeOlho" ng-click="TodeOlho=false" class="button button-positive" menu-close href="/home" ui-sref="menu.myMarkings" >
        Minhas Marcações
      </a>
      <a ng-show="TodeOlho" ng-click="TodeOlho=false" class="button button-positive" menu-close href="/home"  ui-sref="menu.newMarking">
        Marcar novo Incidente
      </a>
      <a ng-show="TodeOlho" ng-click="TodeOlho=false" class="button button-positive" menu-close href="/home" ui-sref="menu.nearbyMarkings">
        Incidentes Próximos
      </a>
      <a class="button" ng-click="PEVs=true; TodeOlho=false">PEVs</a>
      <a class="button button-positive" ng-show="PEVs" ng-click="PEVs=false" href="#">
        PEVs Próximas
      </a>
      <a class="button button-positive" ng-show="PEVs" ng-click="PEVs=false" menu-close ui-sref="menu.newPEV">
        Marcar nova PEV
      </a>
      <a class="button">Tô Contribuindo</a>
      <a class="button">Perfil</a>
    </div>
  </ion-content>
</ion-view>
