<ion-view title="Tela Principal" id="home">
    <ion-content padding="true" class="has-header padding" scroll="false">
        <ul>
            <li>Logo</li>
            <li>Barra de Pesquisa</a></li>
            <li><a ui-sref="tabs.map">Mostrar o Mapa</a></li>
            <li><a ui-sref="tabs.markings.myMarkings">Ver minhas marcações e mais próximas</a></li>
            <li><a ui-sref="tabs.newMarkings.newMarking">Criar nova marcação</a></li>
            <li><a ui-sref="tabs.to-contribuindo.welcome">Ver projetos do Tô Contribuindo</a></li>
            <li><a ui-sref="profile">Ver meu perfil</a></li>
            <li><a ui-sref="signin">Sair</a></li>
        </ul>
    </ion-content>
    <ui-view name="home-page"></ui-view>
</ion-view>
