<ion-popover-view class="popover-height-perfil">
  <ion-content scroll="false" class="popover-height-perfil">
    <ion-list>
      <ion-button class="button button-full button-balanced" ui-sref="tabs.profile" ng-click="popover.hide()">
        <i class="icon ion-loading-c"></i>
        Ver Perfil
      </ion-button>
      <ion-button class="button button-full button-balanced" icon="ion-gear-a" ui-sref="tabs.home" ng-click="popover.hide()">
        Editar Perfil
      </ion-button>
      <ion-button class="button button-full button-balanced" ui-sref="tutorial" ng-click="popover.hide()">
        Ver Tutorial Novamente
      </ion-button>
      <hr>
      <ion-button class="button button-full button-balanced" ui-sref="signin" ng-click="popover.hide()">
        Sair
      </ion-button>
    </ion-list>
  </ion-content>
</ion-popover-view>