<ion-popover-view class="fit profile-popover">
  <ion-content scroll="false">
    <ion-list>
      <ion-button class="button button-full button-balanced popover-button" ui-sref="tabs.profile" ng-click="popover.hide()">
        <i class="icon ion-person"></i>
        Ver Perfil
      </ion-button>
      <div ng-controller="signOutCtrl">
        <ion-button class="button button-full button-balanced popover-button" ng-click="popover.hide(); signOut()">
          <i class="icon ion-log-out"></i>
          Sair
        </ion-button>
      </div>
    </ion-list>
  </ion-content>
</ion-popover-view>
