<!-- App initial page/Sign In page -->
<ion-view cache-view="false" title="Observatório de Resíduos" id="signin" hide-nav-bar="true">
    <ion-content padding="true" scroll="true">

        <div class="frontal-logo">
          <img src="img/logo-2.png" height="250px">
        </div>

        <!-- Email and password fields -->
        <div class="container">
          <form name="loginForm" id="loginForm" class="list" ng-submit="loginAttempt(user)">

            <label class="item item-input"> 
              <i class="icon ion-ios-email placeholder-icon"></i>
              <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="nav-bar-block">
                  Digite seu E-mail
                </p>
                <h3 ng-show="loginError && !loginForm.email.$invalid" class="nav-bar-block">
                  E-mail ou Senha inválido(s)!
                </h3>
              <input ng-model="user.email" name="email" type="text" placeholder="Email"  autocorrect="off" autocapitalize="off" required> 
            </label>

            <label class="item item-input">
              <i class="icon ion-locked placeholder-icon"></i>
              <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="nav-bar-block">
                  Digite sua Senha
                </p>
              <input  ng-model="secret.password" name="password" type="password"  placeholder="Senha" required> 
            </label>

            <!-- Only enter if email and password are correct -->
            <button type="submit" ng-disabled="loginForm.$invalid" class="button button-block button-positive" >Entrar</button>

            <!-- Create an account -->
            <div class="bottom-links">
              Sem conta ainda? <a href="#" class="link" ui-sref="signup">Crie uma!</a>
            </div>
          </form>

          <!-- Login with faceboook and google+ -->
          <div class="socialLogin">
            <b>Entrar com:</b><br>
            <img src="img/facebook-button.png" class="button" ng-click="registerSocial('facebook')" style="background-color: transparent">
            <img src="img/google-button.png" class="button" ng-click="registerSocial('google')" style="background-color: transparent">
          </div>

        </div>
      </ion-content>

</ion-view>
