<ion-view cache-view="false" title="Observatório de Resíduos" id="signin" hide-nav-bar="true">
  <ion-content padding="true" scroll="true">

    <div class="frontal-logo">
      <img src="img/logo-2.png" height="150">
    </div>

    <div class="container">
      <form name="loginForm" id="loginForm" class="list" ng-submit="loginAttempt(user)">

        <label class="item item-input"> 
          <i class="icon ion-ios-email icon-align-left"></i>
          <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="nav-bar-block">
            Digite seu E-mail
          </p>
          <h3 ng-show="loginError && !loginForm.email.$invalid" class="nav-bar-block">
            E-mail ou Senha inválido(s)!
          </h3>
          <input ng-model="user.email" name="email" type="text" placeholder="Email"  autocorrect="off" autocapitalize="off" required> 
        </label>

        <label class="item item-input">
          <i class="icon ion-locked icon-align-left"></i>
          <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="nav-bar-block">
            Digite sua Senha
          </p>
          <input  ng-model="secret.password" name="password" type="password"  placeholder="Senha" required> 
        </label>

        <br>

        <ion-checkbox ng-model="options.rememberMe" style="border-style: none;">Lembre-se de mim</ion-checkbox>
        <ion-checkbox ng-model="options.autoLogin" style="border-style: none;">Entrar automaticamente</ion-checkbox>

        <button type="submit" ng-disabled="loginForm.$invalid" class="button button-block button-positive" >Entrar</button>

        <div class="bottom-links">
          Sem conta ainda? <a href="#" class="link" ui-sref="signup">Crie uma!</a>
        </div>
      </form>

      <div class="socialLogin" ng-controller="facebookSignInCtrl">
        <b>Entrar com:</b><br>
        <img src="img/facebook-button.png" class="button" ng-click="facebookSignIn()" style="background-color: transparent">
        <!-- <img src="img/google-button.png" class="button" ng-click="registerSocial('google')" style="background-color: transparent"> -->
      </div>

    </div>
  </ion-content>

</ion-view>
