<ion-tabs class="tabs-icon-top tabs-messages tabs-light tabs-top tabs-icon-top has-tabs-top">
  <ion-tab class="ion-tab-font tabs-color-active-positive" title="Mapa do Observatório" icon-off="ion-earth" icon-on="ion-earth">
    <ion-nav-view name="mapaObservatorio">
    </ion-nav-view>
  </ion-tab>
  <ion-tab class="ion-tab-font tabs-color-active-positive" title="Tô de olho" icon-off="ion-eye" icon-on="ion-eye" ng-click="popover.show($event)" ng-controller="popoverCtrl" ui-sref-active="current">
    <ion-nav-view name="myMarkings">
    </ion-nav-view>
    <ion-nav-view name="newMarking">
    </ion-nav-view>
    <ion-nav-view name="nearbyMarkings">
    </ion-nav-view>
  </ion-tab>
  <ion-tab class="ion-tab-font tabs-color-active-positive" title="PEVs" icon-off="ion-location" icon-on="ion-location" ng-click="popover.show($event)" ng-controller="popoverPevCtrl">
    <ion-nav-view name="home">
    </ion-nav-view>
    <ion-nav-view name="newPEV">
    </ion-nav-view>
  </ion-tab>
  <ion-tab class="ion-tab-font tabs-color-active-positive" title="Tô contribuindo" ui-sref="tabs.toContribuindo" icon-off="ion-compose" icon-on="ion-compose">
    <ion-nav-view name="toContribuindo">
    </ion-nav-view>
  </ion-tab>
</ion-tabs>

<script id="templates/popoverOlho.html" type="text/ng-template">
  <ion-popover-view style="height: 129px">
    <ion-content>
      <div class="list">
        <a class="button button-full button-balanced" ui-sref="tabs.myMarkings">
          Minhas Marcações
        </a>
        <a class="button button-full button-balanced" ui-sref="tabs.newMarking">
          Marcar novo Incidente
        </a>
        <a class="button button-full button-balanced" ui-sref="tabs.nearbyMarkings">
          Incidentes Próximos
        </a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>

<script id="templates/popoverPev.html" type="text/ng-template">
  <ion-popover-view style="height: 88px">
    <ion-content>
      <div class="list">
        <a class="button button-full button-balanced" ui-sref="tabs.home">
          PEVs Próximas
        </a>
        <a class="button button-full button-balanced" ui-sref="tabs.newPEV">
          Marcar nova PEV
        </a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>