<ion-tabs class="tabs-icon-top">
  <ion-tab class="ion-tab-font" title="Mapa do Observatório" ui-sref="tabs.map" icon= "ion-earth">
    <ion-nav-view name="mapaObservatorio">
    </ion-nav-view>
  </ion-tab>
  <ion-tab title="Tô de olho" icon = "ion-eye" ng-click="popover.show($event)" ng-controller="popoverCtrl">
  </ion-tab>
  <ion-tab title="PEVs" icon = "ion-location" ng-click="popover.show($event)" ng-controller="popoverPevCtrl">
  </ion-tab>
  <ion-tab title="Tô contribuindo" ui-sref="tabs.toContribuindo" icon = "ion-compose">
    <ion-nav-view name="toContribuindo">
    </ion-nav-view>
  </ion-tab>
</ion-tabs>

<script id="templates/popoverOlho.html" type="text/ng-template">
  <ion-popover-view style="height: 126px">
    <ion-content>
      <div class="list">
        <button class="button button-full button-balanced">
          Minhas Marcações
        </button>
        <button class="button button-full button-balanced">
          Marcar novo Incidente
        </button>
        <button class="button button-full button-balanced">
          Incidentes Próximos
        </button>
      </div>
    </ion-content>
  </ion-popover-view>
</script>

<script id="templates/popoverPev.html" type="text/ng-template">
  <ion-popover-view style="height: 84px">
    <ion-content>
      <div class="list">
        <button class="button button-full button-balanced">
          PEVs Próximas
        </button>
        <button class="button button-full button-balanced">
          Marcar nova PEV
        </button>
      </div>
    </ion-content>
  </ion-popover-view>
</script>