<!-- Tô Contribuindo tabs page -->
<ion-view title="Tô Contribuindo">

	<ion-tabs class="tabs-striped tabs-top tabs-background-stable">
		<ion-tab class="abas_medias" title="Artigos" ui-sref="tabs.to-contribuindo.articles">
		</ion-tab>
		<ion-tab class="abas_medias" title="Projetos" ui-sref="tabs.to-contribuindo.projects">
		</ion-tab>
		<ion-tab class="abas_medias" title="Artigos" ui-sref="tabs.to-contribuindo.detailArticle" hidden="true">
		</ion-tab>
		<ion-tab class="abas_medias" title="Projetos" ui-sref="tabs.to-contribuindo.detailProject" hidden="true">
		</ion-tab>
	</ion-tabs>

	<ui-view name="to-contribuindo-page"></ui-view>
</ion-view>