<ion-view view-title="Tutorial do Observatório" id="tutorial">
    <ion-content padding="true" scroll="true">
        <ion-slide-box on-slide-changed="slideChanged(index)">
        
            <ion-slide>
                <h4>Seja Bem-Vindo <br /> ao Observatório de Resíduos App!</h4>
                <div id="logo">
                    <img src="img/logo-2.png" width="70%">
                </div>
                <p>
                    Você pode fazer alguma coisa com esse aplicativo.
                </p>
                <div class="button-bar">
                    <button class="button button-clear button-dark" ng-click="startApp()">Pular</button>

                    <button class="button icon-center ion-chevron-right button-clear button-dark" ng-click="next()"></button>
                </div>
            </ion-slide>

            <ion-slide>
                <h3>Using Awesome</h3>

                <div id="list">
                    <h5>Just three steps:</h5>
                    <ol>
                        <li>Be awesome</li>
                        <li>Stay awesome</li>
                        <li>There is no step 3</li>
                    </ol>
                </div>
                    
                <div class="button-bar">
                    <button class="button icon-center ion-chevron-left button-clear button-dark" ng-click="previous()"></button>

                    <button class="button icon-center ion-chevron-right button-clear button-dark" ng-click="next()"></button>
                </div>
            </ion-slide>

            <ion-slide>
                <h3>Any questions?</h3>
                <p>
                    Too bad!
                </p>
                <div class="button-bar">
                    <button class="button icon-center ion-chevron-left button-clear button-dark" ng-click="previous()"></button>

                    <button class="button icon-center ion-chevron-right button-clear button-dark" ng-click="next()"></button>
                </div>
            </ion-slide>

            <ion-slide>
                <p>Slide 4(3)</p> 
                <div class="button-bar">
                    <button class="button icon-center ion-chevron-left button-clear button-dark" ng-click="previous()"></button>

                    <button class="button icon-center ion-chevron-right button-clear button-dark" ng-click="next()"></button>
                </div>
            </ion-slide>

            <ion-slide>
                <p>Slide 5(4)</p> 
                <div class="button-bar">
                    <button class="button icon-center ion-chevron-left button-clear button-dark" ng-click="previous()"></button>

                    <button class="button button-clear button-dark" ng-click="startApp()">Finalizar</button>
                    </div>
            </ion-slide>

        </ion-slide-box>
    </ion-content>
</ion-view>