<ion-view view-title="Tutorial do Observatório" id="tutorial">
    <ion-content padding="true" scroll="true">
        <ion-slide-box on-slide-changed="slideChanged(index)">
        
            <ion-slide>
                <h4 style="text-align: center">Seja Bem-Vindo ao <br />Observatório de Resíduos App!</h4>
                <div class="spacer" style="height: 20px;"></div>
                <div id="logo">
                    <img src="img/logo-2.png" width="90%">
                </div>
                <div class="spacer" style="height: 20px;"></div>
                <p style="text-align: left">
                    Estamos formando uma rede colaborativa na gestão de resíduos sólidos e contribuindo para que nossos espaços de convivência sejam mais saudáveis.
                </p>
                <div class="button-bar" id="slideButtons">
                    <button class="button button-clear button-dark" ng-click="startApp()">Pular Tutorial</button>

                    <button class="button icon-center ion-chevron-right button-clear button-dark" ng-click="next()"></button>
                </div>
            </ion-slide>

            <ion-slide>
                <h3>Como você pode colaborar?</h3><br/><br/>
                <div id="list">
                    <ol>
                        <li><h5>Marcando incidentes com resíduos no mapa</h5></li><br/>
                        <li><h5>Marcando pontos de entrega voluntária no mapa</h5></li><br/>
                        <li><h5>Avaliando a reputação de incidentes e pontos de entrega</h5></li><br/>
                        <li><h5>Contribuindo com conhecimentos e projetos sobre o assunto</h5></li>
                    </ol>
                </div><br/>
                <p>Veja com mais detalhes a seguir</p>   
                <div class="button-bar" id="slideButtons">
                    <button class="button icon-center ion-chevron-left button-clear button-dark" ng-click="previous()"></button>

                    <button class="button icon-center ion-chevron-right button-clear button-dark" ng-click="next()"></button>
                </div>
            </ion-slide>

            <ion-slide>
                <h3>Marcando incidentes</h3>
                <div class="button-bar">
                    <button class="button icon-center ion-chevron-left button-clear button-dark" ng-click="previous()"></button>

                    <button class="button icon-center ion-chevron-right button-clear button-dark" ng-click="next()"></button>
                </div>
            </ion-slide>

            <ion-slide>
                <h3>Marcando pontos de entrega voluntária</h3> 
                <div class="button-bar">
                    <button class="button icon-center ion-chevron-left button-clear button-dark" ng-click="previous()"></button>

                    <button class="button icon-center ion-chevron-right button-clear button-dark" ng-click="next()"></button>
                </div>
            </ion-slide>

            <ion-slide>
                <h3>Avaliando a reputação de incidentes e pontos de entrega</h3> 
                <div class="button-bar">
                    <button class="button icon-center ion-chevron-left button-clear button-dark" ng-click="previous()"></button>

                    <button class="button icon-center ion-chevron-right button-clear button-dark" ng-click="next()"></button>
                </div>
            </ion-slide>
            
            <ion-slide>
                <h3>Contribuindo com conhecimentos e projetos sobre o assunto</h3> 
                <div class="button-bar">
                    <button class="button icon-center ion-chevron-left button-clear button-dark" ng-click="previous()"></button>

                    <button class="button icon-center ion-chevron-right button-clear button-dark" ng-click="next()"></button>
                </div>
            </ion-slide>

            <ion-slide>
                <h3>Você está pronto!</h3> 
                <div class="button-bar">
                    <button class="button icon-center ion-chevron-left button-clear button-dark" ng-click="previous()"></button>

                    <button class="button button-clear button-dark" ng-click="startApp()">Finalizar</button>
                </div>
            </ion-slide>

        </ion-slide-box>
    </ion-content>
</ion-view>