<ion-view title="Incidentes Próximos" id="nearby">
  <ion-content padding="true" class="has-header" scroll="true">

    <div class="item range">
      <label class="range-label">Distancia desejada: (1-10km)</label>
      <input type="range" name="volume" min="1" max="10" value="5">
    </div>

    <div class="list">

      <a class="item item-icon-left" ui-sref="/marking/"><!-- marking id -->
        <i class="icon ion-waterdrop"></i> <!-- marking type-->
        Derramamanto de Óleo <!-- marking name -->
        <span class="badge badge-assertive">+3</span> <!-- marking score -->
      </a>

      <a class="item item-icon-left" href="/marking/">
        <i class="icon ion-soup-can"></i>
        Caçambas de lixo lotadas
        <span class="badge badge-assertive">+2</span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-medkit"></i>
        Lixo hospitalar
        <span class="badge badge-assertive">0</span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-nuclear"></i>
        Resíduos nucleares
        <span class="badge badge-assertive">-10</span>
      </a>

    </div>

  </ion-content>
</ion-view>
