<ion-view title="Novo Incidente" id="new-marking">
  <ion-content padding="true" class="has-header" scroll="false">

    <div class="list card">

      <div class="item item-image">
        <img class="img-new-marking" src="../img/new-marking-placeholder.jpg"> <!-- getImageMarking() -->
      </div>

      <div class="buttons-choose">
        <button class="button icon-left ion-image">Escolher imagem</button>
        <button class="button icon-left ion-camera">Tirar foto</button>
      </div>
    </div>

    <form name="markingForm" ng-submit="registerMarking(marking)">
    <div class="list">
      <label class="item item-input">
        <input type="text" ng-model="marking.name" placeholder="Nome do Incidente">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="marking.local" placeholder="Local do Incidente">
      </label>

      <label class="item item-input item-select">
        <span class="input-label">Tipo do Incidente</span>
        <select ng-model="marking.tipo" name="tipo" required>
          <option value="organic">Resíduos Orgânicos</option>
          <option value="water">Poluição aquática</option>
          <option value="fire">Incêndios</option>
          <option value="leaf">Desmatamento</option>
        </select>
      </label>

      <label class="item item-input">
        <textarea ng-model="marking.comment" placeholder="Comentário" rows="3" ></textarea>
      </label>

      <button type="submit" id="signup-button5" ng-disabled="markingForm.$invalid" class="button button-stable  button-block">Cadastrar Novo Incidente</button>
    </div>
  </form>
  </ion-content>
</ion-view>
