<ion-view title="Perfil" id="profile">
  <ion-content padding="true" class="has-header" scroll="false">

    <div class="list card">

      <div class="item item-avatar">
        <img class="image img-profile" src="../img/usuario.jpeg">
        <h2>Usuário</h2><!-- getProfileName()  Actually, the image has 40x40px-->
        <h3>Tipo de Perfil: Cidadã(o)</h3><!-- getProfileType()-->
        <h3>Data de inscrição: Agosto, 08, 2016</h3><!-- getProfileTimeStamp.toSimpleDate()-->
      </div>

      <div class="item item-body">
        <div class="list">
          <a class="item item-icon-left" href="#">
            <i class="icon ion-edit"></i>
            Alterar Perfil
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-person"></i>
            Alterar Foto de Perfil
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-social-facebook"></i>
            Conectar ao Facebook
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-social-google"></i>
            Conectar ao Google+
          </a>

        </div>
      </div>

    </div>


  </ion-content>
</ion-view>
