<ion-view cache-view="false" title="Observatório de Resíduos" id="signin">
    <ion-content padding="true" scroll="false" class="painel">
        <div>
            <img src="img/logo_transparent.png" width="50%" height="auto">
        </div>
        <a ui-sref="signup" id="page-button1" class="button button-positive  button-block">Criar uma Conta</a>

        <form name="loginForm" id="loginForm" class="list" ng-submit="loginAttempt(loginForm.$valid, user)">
            <label class="item item-input" id="page-input9">
                <span class="input-label">Email</span>
                <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="nav-bar-block">
                  Digite seu E-mail
                </p>
                <h3 ng-show="errorLogin && !loginForm.email.$invalid" class="nav-bar-block">
                  E-mail ou Senha inválido(s)!
                </h3>
                <input ng-model="user.email" name="email" type="text" placeholder="" required>
            </label>
            <label class="item item-input" id="page-input10">
                <span class="input-label">Senha</span>
                <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="nav-bar-block" required>
                  Digite sua Senha
                </p>
                <input ng-model="user.password" name="password" type="password" placeholder="">
            </label>

            <button type="submit" id="page-button6" class="button button-positive  button-block" style="margin-top: -15px; background-color: transparent; color: white">Fazer Login</button>
        </form>

        <div id="page-markdown1">
            <p>Ao entrar, você concorda com os <a href="#">Termos de Serviço</a> e <a href="#">Termos de Privacidade</a></p>
        </div>
    </ion-content>
</ion-view>
