<ion-view title="Page" id="signin">
    <ion-content padding="true" scroll="false" class="has-header">
        <div>
            <img src="img/logo_transparent.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="signup" id="page-button1" class="button button-positive  button-block">Criar uma Conta</a>
        <form id="page-form4" class="list">
            <label class="item item-input" id="page-input9">
                <span class="input-label">Email</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="page-input10">
                <span class="input-label">Senha</span>
                <input type="text" placeholder="">
            </label>
        </form>

        <a ui-sref="menu.home" id="page-button6" class="button button-positive  button-block">Fazer Login</a>
        <div id="page-markdown1" style="color:#000000;">
            <p>Ao entrar, você concorda com os termos de serviço e termos de privacidade</p>
        </div>
    </ion-content>
</ion-view>
