<ion-view title="Observatório de Resíduos" id="signin">
    <ion-content padding="true" scroll="false" class="painel">
        <div>
            <img src="img/logo_transparent.png" width="50%" height="auto">
        </div>
        <form id="page-form4" class="list">
            <label class="item item-input" id="page-input9">
                <span class="input-label">Email</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="page-input10">
                <span class="input-label">Senha</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="menu.home" id="page-button1" class="button-small button-block" style="background-color: transparent; color: white">Fazer Login</a><br/>
        <a ui-sref="signup" id="page-button2" class="button-small button-block" style="background-color: transparent; color: white">Cadastrar</a><br/>
        <a ui-sref="signin" id="page-button3" class="button-small button-block" style="background-color: transparent; color: white; font-size: 14px">Esqueci minha senha</a>
        <div id="page-markdown1">
            <p><br><br><br><br>Ao entrar, você concorda com os <a href="#">Termos de Serviço</a> e <a href="#">Termos de Privacidade</a></p>
        </div>
    </ion-content>
</ion-view>
