<ion-view title="Cadastro" id="cadastro">
  <ion-content padding="true" class="has-header">

    <p style="font-size: 18px">Cadastre-se com uma rede social</p>
    <button class="button button-royal" class="item item-icon-left" href="#">
       <i class="ion-social-facebook"></i>  Facebook
     </button><!-- Icone facebook: <i class="ion-social-facebook"></i> -->
    <button class="button button-assertive" class="item item-icon-left" href="#">
       <i class="ion-social-googleplus"></i>  Google
    </button><br><!-- Icone google+: <i class="ion-social-googleplus"></i> -->
    <br>

    <form id="cadastro" class="list" name="userForm" ng-submit="registerEmail(userForm.$valid, user)" novalidate>
      <ion-list id="signup-list2">

        <label class="item item-input" id="first_name">
          <p ng-show="userForm.first_name.$invalid && !userForm.first_name.$pristine" class="nav-bar-block">
            Seu nome é obrigatório
          </p>
          <input name="first_name" ng-model="user.first_name" type="text" placeholder="Primeiro Nome" required>
        </label>

        <label class="item item-input" id="last_name">
          <p ng-show="userForm.first_name.$invalid && !userForm.first_name.$pristine" class="nav-bar-block">
            Seu sobrenome é obrigatório
          </p>
          <input name="last_name" ng-model="user.last_name" type="text" placeholder="Último Nome" required>
        </label>

        <label class="item item-input">
          <h3 ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="nav-bar-block">
            Seu e-mail é obrigatório
          </h3>
          <h3 ng-show="errorEmail" class="nav-bar-block">
            Este email já está em uso!
          </h3>
          <input name="email" type="email" ng-model="user.email" placeholder="Email" required></textarea>
        </label>

        <label class="item item-input">
          <input type="password" name="password_digest" ng-model="user.password_digest" placeholder="Senha" required />
            <h3 ng-show="userForm.password_digest.$invalid && userForm.password_digest.$touched" class="nav-bar-block">
              Entre com uma senha
            </h3>
        </label>

        <label class="item item-input">
          <input type="password" name="password_confirmation" ng-model="user.password_confirmation" placeholder="Confirmação da Senha" required="" confirm-pwd="user.password_digest" />
          <h3 ng-show="" class="nav-bar-block">
            Confirmação de senha requerida
          </h3>

          <h3 ng-show="(userForm.password_confirmation.$valid != userForm.password_digest.$valid)" class="nav-bar-block">
            Senha diferente
          </h3>
        </label>

        <label class="item item-input item-select">
          <span class="input-label">Estado</span>
          <select ng-model="user.city" name="estado" required>
            <br>
            <option value="ac">Acre</option>
            <option value="al">Alagoas</option>
            <option value="am">Amazonas</option>
            <option value="ap">Amapá</option>
            <option value="ba">Bahia</option>
            <option value="ce">Ceará</option>
            <option value="df">Distrito Federal</option>
            <option value="es">Espírito Santo</option>
            <option value="go">Goiás</option>
            <option value="ma">Maranhão</option>
            <option value="mt">Mato Grosso</option>
            <option value="ms">Mato Grosso do Sul</option>
            <option value="mg">Minas Gerais</option>
            <option value="pa">Pará</option>
            <option value="pb">Paraíba</option>
            <option value="pr">Paraná</option>
            <option value="pe">Pernambuco</option>
            <option value="pi">Piauí</option>
            <option value="rj">Rio de Janeiro</option>
            <option value="rn">Rio Grande do Norte</option>
            <option value="ro">Rondônia</option>
            <option value="rs">Rio Grande do Sul</option>
            <option value="rr">Roraima</option>
            <option value="sc">Santa Catarina</option>
            <option value="se">Sergipe</option>
            <option value="sp">São Paulo</option>
            <option value="to">Tocantins</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Gênero
          </div>
          <p ng-show="userForm.genero.$invalid && !userForm.genero.$pristine" class="help-block">
            Selecione seu genero
          </p>
          <select ng-model="user.gender" name="genero" required>
            <br>
            <option value="fem">Feminino</option>
            <option value="mas">Masculino</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">Tipo de Perfil</div>
          <p ng-show="userForm.profile_type.$invalid && !userForm.profile_type.$pristine" class="help-block">
            Selecione seu tipo de perfil!
          </p>
          <select ng-model="user.profile_type" name="profile_type" required>
            <option name="professor">Professor(a)</option>
            <option name="cidadao">Cidadã(o)</option>
            <option name="estudante">Estudante</option>
            <option name="trabalhador">Trabalhador(a)</option>
            <option name="Empresário">Empresário(a)</option>
            <option name="Agricultor">Agricultor(a)</option>
            <option name="Sindico">Síndico(a)/Líder comunitário</option>
            <option name="Dirigente de associação">Dirigente de associação/Cooperativa de catadores de materiais recicláveis</option>
          </select>
        </label>

      </ion-list>
      <button type="submit" id="signup-button5" class="button button-stable  button-block">Cadastrar</button>
    </form>
  </ion-content>
</ion-view>
