<!-- Edit Marking page -->
<ion-view title="Editar Incidente" id="edit-incidente">
  <!-- Make this modal bar work
  <ion-header-bar class="bar bar-header bar-balanced">
      <h1 class="title">{{marking.name}}</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()" style="top:-3px">Voltar</button>
  </ion-header-bar>-->
  <ion-content padding="true" ng-controller="cameraCtrl" class="has-header has-tabs-top" scroll="true">
    <div>
      <form ng-submit="confirmEditMarking(marking)" name="Markingform">
        <div class="image-and-buttons">

          <!-- Marking photo -->
          <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <img class="icon ion-image" ng-src="{{imgURI}}" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></img>
          </div>

          <!-- Camera and Gallery buttons to take or get a photo -->
          <div class="button-bar">
              <button class="button icon-left ion-camera" ng-click="takePhoto('CAMERA')">Câmera</button><br>
              <button class="button icon-left ion-image" ng-click="choosePhoto()">Galeria</button>
            <!-- The camera doesn't work on browser, and a android build is necessary -->
          </div>
        </div>

        <div class="spacer" style="height: 15px;"></div>
        <ion-list id="list">
          <!-- Fields to edit informations of marking -->
          <label class="item item-input">
            <p ng-show="Markingform.name.$invalid && !Markingform.name.$pristine" class="nav-bar-block">
              O nome do incidente é obrigatório!
            </p>
            <input type="text" ng-model="marking.name" placeholder="Nome do Incidente" name="name" required>
          </label>
          <select ng-model="marking.id_marking_type" name="marking_type" required>
            <option ng-repeat="marking_type in marking_types" value="{{marking_type.id_tipo_incidente}}">{{marking_type.tipo_incidente}}</option>
          </select>
        </ion-list>

        <label class="item item-input">
          <textarea type="text" ng-model="marking.description" placeholder="Descrição" rows="3"></textarea>
        </label>
        <label class="item item-input">
          <input type="hidden" placeholder="Latitude" ng-model="marking.latitude" disabled="true">
        </label>

        <label class="item item-input">
          <input type="hidden" placeholder="Longitude" ng-model="marking.longitude" disabled="true">
        </label>
        <button type="submit" id="page-button9" class="button button-full button-positive" ng-disabled="Markingform.$invalid">Editar</button>
      </form>
    </div>
  </ion-content>
</ion-view>
