<ion-view title="Novo Incidente" id="new-marking">
  <ion-content padding="true" class="has-header has-tabs-top" scroll="true">
    <div>
      <form ng-submit="registerMarking(marking, imgURI); modal.hide()" name="Markingform">
        <div class="image-and-buttons">

          <div class="image-box">
            <img class="image-in-box" ng-src="{{imgURI}}"></img>
          </div>

          <div class="button-bar">
            <button class="button icon-left ion-camera" ng-click="getPicture();">Câmera</button><br>
            <button class="button icon-left ion-image" ng-click="choosePhoto();">Galeria</button>
          </div>

          <div class="spacer" style="height: 15px;"></div>
          <ion-list id="list">
            <label class="item item-input">
            <p ng-show="Markingform.name.$invalid && !Markingform.name.$pristine" class="nav-bar-block">
              O nome do incidente é obrigatório!
            </p>
            <input type="text"  ng-model="marking.titulo_incidente" placeholder="Nome do Incidente" name="name" required>
          </label>

            <ion-item id="special-select" class="item-input item-select">
              <select ng-model="marking.id_tipo_incidente" name="marking_type" required>
              <option value="" disabled>Selecione um Tipo de Incidente</option>
              <option ng-repeat="marking_type in marking_types" value="{{marking_type.id_tipo_incidente}}">
                {{marking_type.tipo_incidente}}
              </option>
            </select>
            </ion-item>

          </ion-list>

          <label class="item item-input">
          <textarea type="text" ng-model="marking.descricao_incidente" placeholder="Descrição" rows="3"></textarea>
        </label>
          <label class="item item-input hidden-input">
          <input placeholder="Latitude" ng-model="marking.latitude" disabled="true">
        </label>

          <label class="item item-input hidden-input">
          <input placeholder="Longitude" ng-model="marking.longitude" disabled="true">
        </label>
          <button type="submit" id="page-button9" class="button button-full button-positive" ng-disabled="Markingform.$invalid || !imgURI">Cadastrar</button>
      </form>
      </div>
  </ion-content>
</ion-view>