<ion-view title="Perfil">
  <ion-content padding="true" class="has-header" scroll="true" ng-controller="cameraCtrl">
    <form id="editProfile" name="userForm" ng-submit="editUser(user)" novalidate>
      <ion-list id="list">
        
          <img class="edit-profile-photo" src="img/usuario.jpeg">
        
        <ion-item>
          <div class="button-bar">
            <button class="button icon-left ion-camera" ng-click="takePhoto('CAMERA'); updatephoto()">Câmera</button><br>
            <button class="button icon-left ion-image" ng-click="choosePhoto(); updatephoto()">Galeria</button>
          </div>
        </ion-item>

        <label class="item item-input" id="complete_name">
          <p class="text-center">Nome:    </p>
          <input name="complete_name" type="text" ng-model="user.nome_completo" required>
        </label>

        <label class="item item-input item-select" id="special-select">
          <p class="text-center">Perfil: </p>
          <select ng-model="user.profile" name="profile_type" required>
            <option value="" disabled>Selecione um Tipo de Perfil</option>
            <option ng-repeat="profile in profiles" value="{{profile.perfil}}">{{profile.perfil}}</option>
          </select>
        </label>

        <label class="item item-input" id="email">
          <p class="text-center">E-mail: {{user.email}}</p>
        </label>

        <div class="item item-text-wrap">
          <button type="submit" ng-disabled="userForm.$invalid" class="button button-positive button-full">
            <i class="icon ion-checkmark-round"></i>
            Confirmar
          </button>
          <button class="button button-positive button-full" ui-sref="tabs.profile">
            <i class="icon ion-close-round"></i>
            Cancelar
          </button>
        </div>

        <div class="item item-button-right" style="text-align: center;">
          <div>
            <button class="button button-dark button-centered" type="button" ng-click="deactivateAccount()">Desativar Conta</button>
          </div>
        </div>
      </ion-list>

