<ion-view title="Perfil" id="profile">
  <ion-content padding="true" class="has-header" scroll="true">

    <div class="list card">

      <div class="item item-avatar">
        <img class="image img-profile" src="img/usuario.jpeg">
        <h2>Foto {{}}</h2><!-- getProfileName()  Actually, the image has 40x40px-->
        <h3>{{user.nome_completo}}</h3><!-- getProfileType()-->
        <h3>Perfil {{}}</h3>
        <h3>{{user.email}}</h3><!-- getProfileTimeStamp.toSimpleDate()-->
      </div>

      <div class="item item-body">
        <div class="list">
          <a class="item item-icon-left" href="#">
            <i class="icon ion-edit"></i>
            Alterar Perfil
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-person"></i>
            Alterar Foto de Perfil
          </a>

        </div>
      </div>

    </div>


  </ion-content>
</ion-view>
