<!-- User profile page -->
<ion-view title="Perfil" id="profile">
  <ion-content padding="true" class="has-header padding has-tabs-top" scroll="true">
    <!-- Some user informations -->
    <div class="list card">
      <div class="item">
        <img class="image item-avatar-perso" src="img/usuario.jpeg">
        <br>
        <h2 class="text-center">{{user.nome_completo}}</h2>
        <h2 class="text-center">Perfil {{user.profile}}</h2>
        <h2 class="text-center">{{user.email}}</h2>
      </div>

      <!-- Buttons to edit profile and go back to Observatório de Resíduos map -->
      <div class="item item-body">
        <div class="list">
          <button class="button button-positive button-block" ui-sref="editProfile">
            <i class="icon ion-edit"></i>
              Alterar Perfil
          </button>
          <button class="button button-positive button-block" ui-sref="tabs.home">
            <i class="ion-edit"></i>
              Voltar para a Tela Principal
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
