<!-- Edit PEV page -->
<ion-modal-view title="Nova PEV" id="new-pev" ng-controller="editPevCtrl">

  <ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">{{pev.titulo_pev}}</h1>
    <button class="button button-clear button-primary" ng-click="modalEditPev.hide();modal.show()" style="top:-3px">Voltar</button>
  </ion-header-bar>

  <ion-content padding="true" ng-controller="cameraCtrl" scroll="true">

    <form ng-submit="confirmEditPEV(pev, modalEditPev)" name="PEVform">
      <!-- PEV photo -->
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <!-- Camera and Gallery buttons to take or get a photo -->
      <div class="button-bar">
       <button class="button icon-left ion-camera" ng-click="takePhoto('CAMERA')">Câmera</button><br>
       <button class="button icon-left ion-image" ng-click="takePhoto('PHOTOLIBRARY')">Galeria</button>
       <!-- The camera doesn't work on browser, and a android build is necessary -->
     </div>

     <div class="spacer" style="height: 15px;"></div>

     <ion-list id="list">

      <!-- Fields to edit informations of pev -->
      <p ng-show="PEVform.name.$invalid && !PEVform.name.$pristine" class="nav-bar-block">
        O nome da PEV é obrigatório!
      </p>

      <label class="item item-input">
        <input type="text"  ng-model="pev.titulo_pev" placeholder="Nome da PEV" name="name" required>
      </label>

      <label class="item item-input">
        <input type="text" ng-model="pev.descricao_pev" placeholder="Descrição">
      </label>

      <div class="spacer" style="height: 15px;"></div>
      <ion-item class="item-divider" id="page-list">Materiais Recolhidos</ion-item>
      <ion-toggle toggle-class="toggle-positive" ng-model="pev.paper">Papel</ion-toggle>
      <ion-toggle toggle-class="toggle-assertive" ng-model="pev.plastic">Plástico</ion-toggle>
      <ion-toggle toggle-class="toggle-energized" ng-model="pev.metal">Metal</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" ng-model="pev.glass">Vidro</ion-toggle>

    </ion-list>

    <label class="item item-input">
      <input type="hidden" placeholder="Latitude" ng-model="pev.latitude" disabled="true">
    </label>

    <label class="item item-input">
      <input type="hidden" placeholder="Longitude" ng-model="pev.longitude" disabled="true">
    </label>

    <div class="spacer" style="height: 15px;"></div>

    <button type="submit" id="page-button9" class="button button-assertive button-block" ng-disabled="PEVform.$invalid">Editar</button>
  </form>
  <div class="form-list"></div>
  <div class="menu-bar"></div>
  
</ion-content>
</ion-modal-view>