<!-- My Markings page -->
<ion-view title="Minhas PEVs" id="my-markings">
    <ion-content padding="true" class="has-header padding has-tabs-top" scroll="true">
        <!-- List of all markings marked by the user -->
        <h3>Minhas PEVs</h3>
        <ion-list>
            <ion-item ng-repeat="pev in pevs"
                      value="{{pev.id_pev}}"
                      ng-model="pev"
                      name="pev_item"
                      ng-show="currentUserEmail==pev.author_email"
                      ng-click="openPev(pev)">
                <h3 class="text-left" style="font-weight: bolder">{{pev.titulo_incidente}}</h3>
                <p class="text-left">Descrição: {{pev.descricao_incidente}}</p>
                <p class="text-left">
                    Tipo: {{pev.tipo_incidente}}
                </p>
                <!--If greater than 0-->
                <span class="badge badge-assertive">+{{pev.total_confirmacoes_existencia}}</span>

                <!--If equals to 0 -->
                <!--<span class="badge badge-balanced">{{marking.total_confirmacoes_existencia}}</span>-->

                <!--If lower to 0 -->
                <!--<span class="badge badge-royal">-{{marking.total_confirmacoes_fechou}}</span>-->
                <!--<p class="text-left">Por:{{marking.author_name}}</p>-->
            </ion-item>
        </ion-list>
        <h3>PEVs Proximas</h3>
        <ion-list>
            <ion-item ng-repeat="pev in pevs"
                      value="{{pev.id_pev}}"
                      ng-model="pev"
                      name="pev_item"
                      ng-show="currentUserEmail==pev.author_email"
                      ng-click="openPev(pev)">
                <h3 class="text-left" style="font-weight: bolder">{{pev.titulo_incidente}}</h3>
                <p class="text-left">Descrição: {{pev.descricao_incidente}}</p>
                <p class="text-left">
                    Tipo: {{pev.tipo_incidente}}
                </p>
                <!--If greater than 0-->
                <span class="badge badge-assertive">+{{pev.total_confirmacoes_existencia}}</span>
            </ion-item>

    </ion-content>
</ion-view>
