<!-- My Markings page -->
<ion-view title="Minhas PEVs" id="my-pevs">
    <ion-content padding="true" class="has-header padding has-tabs-top" scroll="true">
        <!-- List of all pevs marked by the user -->
        <h3>Minhas PEVs</h3>
        <ion-list>
            <ion-item ng-repeat="pev in myPevsWithTipes"
                      ng-repeat="type in types track by $index"
                      value="{{pev.data.id_pev}}"
                      ng-model="pev"
                      name="pev_item"
                      ng-show="currentUserEmail==pev.data.author_email"
                      ng-click="openPev(pev.data)">
              <h3 class="text-left" style="font-weight: bolder">{{pev.data.titulo_pev}}</h3>
              <p class="text-left">Descrição: {{pev.data.descricao_pev}}</p>
              <p class="text-left">
                    Tipo: {{pev.type}}
              </p>
              <span class="badge badge-assertive">+{{pev.data.total_confirmacoes_funcionando}}</span>
            </ion-item>
        </ion-list>

        <h3>PEVs Proximas</h3>
        <ion-list>
            <ion-item ng-repeat="pev in nearbyPevsWithTipes"
                      ng-repeat="type in types track by $index"
                      value="{{pev.data.id_pev}}"
                      ng-model="pev"
                      name="pev_item"
                      ng-click="openPev(pev.data)">
              <h3 class="text-left" style="font-weight: bolder">{{pev.data.titulo_pev}}</h3>
              <p class="text-left">Descrição: {{pev.data.descricao_pev}}</p>
              <p class="text-left">
                    Tipo: {{pev.type}}
              </p>
              <span class="badge badge-assertive">+{{pev.data.total_confirmacoes_funcionando}}</span>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>