<ion-view title="PEVS Próximas" id="nearby-pev">
  <ion-content padding="true" class="has-header has-tabs-top" scroll="true">

    <div class="item range">
      <label class="range-label">Distancia desejada: (1-10km)</label>
      <input type="range" name="volume" min="1" max="10" value="5">
    </div>

	<div id="nerby-pev-list" class="list card">

      <ion-item style="" class="item-thumbnail-left">
      	<img src="../img/new-marking-placeholder.jpg">
        <p>PEV nome</p>
        <p>PEV status</p>
      </ion-item>

    </div>

  </ion-content>
</ion-view>