<ion-view title="Nova PEV" id="new-pev">
  <ion-content padding="true" class="has-header has-tabs-top" scroll="true">
    <div>
      <div>
        <form ng-submit="createPEV(pev, imgURI); modal.hide()" name="PEVform">
          <div>

            <div class="image-box">
              <img class="image-in-box" ng-src="{{imgURI}}"></img>
            </div>
            <div class="button-bar">
              <button class="button icon-left ion-camera" ng-click="getPicture();">Câmera</button><br>
              <button class="button icon-left ion-image" ng-click="choosePhoto();">Galeria</button>
            </div>

          </div>

          <div class="spacer" style="height: 15px;"></div>

          <ion-list id="list">

            <p ng-show="PEVform.name.$invalid && !PEVform.name.$pristine" class="nav-bar-block">
              O nome da PEV é obrigatório!
            </p>

            <label class="item item-input">
              <input type="text"  ng-model="pev.titulo_pev" placeholder="Nome da PEV" name="name" required>
            </label>
            <label class="item item-input">
              <textarea type="text" ng-model="pev.descricao_pev" placeholder="Descrição" rows="3" ></textarea>
            </label>

            <div class="spacer" style="height: 15px;"></div>

            <ion-item class="item-divider" id="page-list">Materiais Recolhidos</ion-item>
            <ion-toggle toggle-class="toggle-positive" ng-model="pev.paper">Papel</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" ng-model="pev.plastic">Plástico</ion-toggle>
            <ion-toggle toggle-class="toggle-energized" ng-model="pev.metal">Metal</ion-toggle>
            <ion-toggle toggle-class="toggle-balanced" ng-model="pev.glass">Vidro</ion-toggle>
          </ion-list>

          <div class="spacer" style="height: 15px;"></div>

          <button type="submit" id="page-button9" class="button button-full button-positive" ng-disabled="PEVform.$invalid || !imgURI">Cadastrar</button>
        </form>
        <div class="form-list"></div>
        <div class="menu-bar"></div>
      </div>
    </div>
  </ion-content>
</ion-view>