<!-- New PEVs page -->
<ion-view title="Nova PEV" id="new-pev">
  <ion-content padding="true" ng-controller="cameraCtrl" class="has-header has-tabs-top" scroll="true">
    <div>
      <div>
        <form ng-submit="createPEV(pev); modal.hide()" name="PEVform">
          <div>

            <!-- PEV photo -->
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
              <img class="icon ion-image" ng-repeat="image in images" ng-src="{{trustAsResourceUrl(image)}}" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></img>
            </div>
            <!-- Camera and Gallery buttons to take or get a photo -->
            <div class="button-bar">
               <button class="button icon-left ion-camera" ng-click="addMedia()">Foto da PEV</button><br>
                    <!-- The camera doesn't work on browser, and a android build is necessary -->
            </div>

          </div>

          <!-- Fields to put informations of pev -->
          <div class="spacer" style="height: 15px;"></div>

          <ion-list id="list">

            <p ng-show="PEVform.name.$invalid && !PEVform.name.$pristine" class="nav-bar-block">
              O nome da PEV é obrigatório!
            </p>

            <label class="item item-input">
              <input type="text"  ng-model="pev.name" placeholder="Nome da PEV" name="name" required>
            </label>
            <label class="item item-input">
              <textarea type="text" ng-model="pev.description" placeholder="Descrição" rows="3" ></textarea>
            </label>

            <div class="spacer" style="height: 15px;"></div>

            <ion-item class="item-divider" id="page-list">Materiais Recolhidos</ion-item>
            <ion-toggle toggle-class="toggle-positive" ng-model="pev.paper">Papel</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" ng-model="pev.plastic">Plástico</ion-toggle>
            <ion-toggle toggle-class="toggle-energized" ng-model="pev.metal">Metal</ion-toggle>
            <ion-toggle toggle-class="toggle-balanced" ng-model="pev.glass">Vidro</ion-toggle>
          </ion-list>

          <div class="spacer" style="height: 15px;"></div>

          <button type="submit" id="page-button9" class="button button-full button-positive" ng-disabled="PEVform.$invalid">Cadastrar</button>
        </form>
        <div class="form-list"></div>
        <div class="menu-bar"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
